<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <title>Интернет-магазин!</title>
    <link rel="stylesheet" href="style/reset styles.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="header-title container">
                <div class="logo">
                    <h1>Интернет магазин</h1>
                </div>
                <div class="cart">
                    <form action="#" class="search-form" @submit.prevent='filter'>
                        <!-- вместо перегрузки страницы будет выполнятся функция фильтр-->
                        <input type="text" class="search-field" v-model='userSearch'>
                        <button class="btn-search" type="submit" @click='filter()'>
                        <i class="fas fa-search"></i>
                    </button>
                    </form>
                    <button class="btn-cart" @click='showCart=!showCart' type="button">Корзина</button>
                    <div class="cart-block" v-show='showCart'>
                        <p v-if="!cartItems.length">Корзина пуста</p>
                        <div class="cart-item" v-for='item of cartItems' :key='item.id_product'>
                            <div class="product-bio">
                                <img :src="imgCart" alt="Photo">
                                <div class="product-desc">
                                    <p class="product-title">{{ item.product_name }}</p>
                                    <p class="product-quantity">Quantity: {{ item.quantity }}</p>
                                    <p class="product-single-price">$ {{ item.price }} each</p>
                                </div>
                            </div>
                            <div class="right-block">
                                <p class="product-price">$ {{ item.quantity*item.price}}</p>
                                <button class="del-btn" @click='remove(item)'>&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class='product-item' v-for='product of filtered' :key='product.id_product'>
                    <img :src="imgCatalog" alt='Photo'>
                    <div class="desc">
                        <h3 class="desc-info">{{ product.product_name }}</h3>
                        <p class="desc-info"> {{ product.price }} $</p>
                        <button class="buy-btn" @click='addProduct(product)'>Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://kit.fontawesome.com/ad2eb1587e.js" crossorigin="anonymous"></script>
    <script src="js/vue.js"></script>
    <script src='js/main.js '></script>
</body>


</html>