<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <title>Интернет-магазин!</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="header-title container">
                <div class="logo">
                    <h1>Интернет магазин</h1>
                </div>
                <div class="cart">
                    <form action="#" class="search-form">
                        <input type="text" class="search-field" v-model='userSearch'>
                        <button class="btn-search" type="submit" @click='filter()'>
                        <i class="fas fa-search"></i>
                    </button>
                    </form>
                    <button class="btn-cart" @click='show=!show' type="button">Корзина</button>
                    <div class="cart-block" v-show='show'>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class='product-item' v-for='product of filtered' :key='product.id_product'>
                    <img :src="imgCatalog" alt='Photo'>
                    <div class="desc">
                        <h3>{{ product.product_name }}</h3>
                        <p>{{ product.price }} $</p>
                        <button class="buy-btn" @click='addProduct(product)'>Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://kit.fontawesome.com/ad2eb1587e.js" crossorigin="anonymous"></script>
    <script src="js/vue.js"></script>
    <script src='js/main.js '></script>
</body>


</html>