body {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_block {
    background-color: #000000;
}

.header-title {
    color: white;
}

.btn_basket {
    position: relative;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}

.btn_basket:hover {
    transition: .5s;
    box-shadow: 4px 4px 21px rgb(141 141 141 / 70%), -4px -3px 21px #808088;
}

.btn_basket:not(hover) {
    transition: .5s;
}

.basket {
    display: flex;
    flex-direction: column;
    width: 240px;
    position: absolute;
    top: 90px;
    right: 190px;
    padding: 10px 10px 0 10px;
    background-color: #fdfdfd;
    box-shadow: -2px -7px 21px #939394, 4px 6px 21px rgb(190 190 190);
    border-radius: 10px;
}

.basket_title {
    margin: 0;
}

.basket-img {
    width: 50px;
}

.basket_product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.basket_each {
    font-size: 10px;
}

.basket_name_product {
    display: flex;
    flex-direction: column;
}

.basket_price_product {
    font-weight: bold;
    display: flex;
    flex-direction: column
}


/* ////////////////////////////////////////////////////////КНОПКА */

.basket_item_close {
    border: none;
    background: transparent;
}

.cl-btn-4 {
    width: 40px;
    height: 40px;
    box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background: #000000;
    position: relative;
    display: block;
    z-index: 200;
    text-indent: -9999px;
    cursor: pointer;
}

.cl-btn-4:before,
.cl-btn-4:after {
    content: '';
    width: 80%;
    height: 6px;
    background: #fafbfc;
    position: absolute;
    top: 48%;
    left: 10%;
    transform: rotate(45deg);
    transition: all 0.3s ease-out;
}

.cl-btn-4:after {
    transform: rotate(-45deg);
    transition: all 0.3s ease-out;
}

.cl-btn-4:hover:before,
.cl-btn-4:hover:after {
    transform: rotate(180deg);
    background: #FFF;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */

.btn-basket:hover {
    transition: .5s;
    background-color: #fdfdfd00;
    box-shadow: 10px 10px 21px #939394, -10px -10px 21px rgb(190, 190, 190);
}

.btn-basket:not(hover) {
    transition: .5s;
}

.product-img {
    width: 150px;
    height: 150px;
}

.products {
    padding-top: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    text-align: center;
    width: 250px;
    border-radius: 50px;
    background-color: f0f0f3;
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
}

.product-item:hover {
    transition: .5s;
    box-shadow: -10px -10px 21px rgb(197, 197, 197), 10px 10px 21px #808088;
}

.product-item:not(hover) {
    transition: .5s;
}

.product-price {
    font-size: 15px;
    font-weight: 600;
}

.buy-btn {
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
    font-weight: bold;
    margin-bottom: 15px;
}

.buy-btn:hover {
    transition: .5s;
    box-shadow: -10px -10px 21px rgb(197, 197, 197), 10px 10px 21px #808088;
}

.buy-btn:not(hover) {
    transition: .5s;
}