body {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.invisible {
    visibility: hidden;
}

header {
    background-color: black;
    margin-bottom: 150px;
}

.header-title {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.logo {
    color: white;
}

.header-title {}

.products {
    display: flex;
    justify-content: space-around;
}

.cart-item {}

.cart-block {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    position: absolute;
}

.btn-cart {
    position: relative;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}