body {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.invisible {
    visibility: hidden;
}

header {
    background-color: black;
    margin-bottom: 150px;
}

.header-title {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.logo {
    color: white;
}

.products {
    display: flex;
    justify-content: space-around;
}

.cart-item {
    display: flex;
}

.cart-item:nth-last-of-type(2n) {
    margin-bottom: 20px;
}

.cart-block {
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 150px;
    top: 100px;
    right: 50px;
    width: auto;
    padding: 5px;
    border-radius: 8px;
}

.product-bio {
    display: flex;
    margin-right: 40px;
}

.btn-cart {
    position: relative;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.product-item {
    background-color: rgba(204, 204, 204, 0.582);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}